


{% extends "base.html" %}
{% load crispy_forms_tags %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}



<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}


    {{ form.title|as_crispy_field}}
	{{ form.text|as_crispy_field}}
	{{ form.brand|as_crispy_field}}
	
	<div class="row">
		<div class="col-md-8">
			{{ form.price|as_crispy_field}}
			
		</div>
		<div class="col-md-4">
			{{ form.currency|as_crispy_field}}
		</div>

	</div>
	{{ form.year|as_crispy_field}}
	<hr>
	{{ form.car_pic|as_crispy_field}}
	{{ form.car_pic2|as_crispy_field}}
	{{ form.car_pic3|as_crispy_field}}
    <!-- <input type="submit" value="Save" /> -->
    <button class="btn btn-success" type="submit">Save</button>
</form>







{% endblock %}