{% extends "base.html" %}
{% block head_title %}Update{% endblock %}
{% block content %}


<form action="" method="post">
{% csrf_token %}
Title
<br>
<input type="text" name="title" value="{{ question.title }}">
<hr>

Text
<br>
<input type="text" name="text" value="{{ question.text }}">
<hr>

Price
<br>
<input type="number" name="price" value="{{ question.price }}">
<hr>


Brand
<br>
<select name="brand">
    {% for i in brand_car %}
    <option value="{{ i.id_brand }}">{{ i.name }}</option>
    {% endfor %}
</select>
<hr>

<input type="submit" value="Update" />
</form>


{% endblock %}